*.[ao]
*.exe
*.gcda
*.gcno
*.gcov
*.tcov
*~
.buildbot/*
.deps
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/check_moxi
/check_moxi_agent
/check_util
/check_work
/debian/changelog
/doc/doxy
/m4/version.m4
/memcached.spec
/scripts/rpm/moxi.spec
/sizes
/t/*.pyc
/t/check_moxi_agent.cfg
/testapp
/timedrun
/tmp
/version.num
INSTALL
Makefile
Makefile.in
TAGS
a.out*
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cscope.out
depcomp
doc/protocol-binary-range.txt
doc/protocol-binary.txt
install-sh
libmemcached-*/libmemcached/*.la
libmemcached-*/libmemcached/*.lo
libmemcached-*/libmemcached/.libs/
libmemcached-*/libmemcached/libmemcached_config.h
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
memcached
memcached-*.tar.gz
memcached-debug
memcached-debug.profile
memcached_dtrace.h
missing
moxi
moxi-*.tar.gz
moxi-debug
moxi-debug.profile
moxi_*.tar.gz
stamp-h1
stamp-h2
tags
