*.[ao]
*.gcov
*.gcda
*.gcno
*.tcov
.deps
INSTALL
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
aclocal.m4
compile
autom4te.cache
configure
depcomp
install-sh
memcached
memcached-debug
memcached-debug.profile
moxi
moxi-debug
moxi-debug.profile
missing
stamp-h1
tags
TAGS
cscope.out
memcached_dtrace.h
*~
memcached-*.tar.gz
moxi-*.tar.gz
doc/protocol-binary-range.txt
doc/protocol-binary.txt
/sizes
/version.m4
/version.num
/testapp
/doc/doxy
/check_util
/check_moxi
/check_moxi_agent
/check_work
ltmain.sh
libtool
libmemcached-0.30/libmemcached/.libs/
libmemcached-0.30/libmemcached/*.lo
libmemcached-0.30/libmemcached/*.la
libmemcached-0.30/support/libmemcached-fc.spec
libmemcached-0.30/support/libmemcached.pc
