<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="/css/ie_lte_8.css" /><![endif]-->
	<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/css/ie_lte_7.css" /><![endif]-->
	<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/css/ie_lte_6.css" /><![endif]-->
</head>

<body class="labs" id="www-northscale-com">
	<p id="ContentJump"><a href="#ContentJumpTarget">Jump to content</a></p>
	<div id="Wrapper">
		<div id="WrapperChannel">
			<div id="Header" class="selfClear">
				<div id="SiteId" style="margin-left: 30px;"><a href="http://northscale.com"><img src="http://labs.northscale.com/images/ns-logo.gif" alt="NorthScale Labs"/></a></div>
				<div id="NavigationPrimary" class="selfClear">
				</div>
			</div><!-- div#Header -->

			<div id="MainBody" class="selfClear">
				<div id="MainChannel">
					<div id="Content">
						<a name="ContentJumpTarget" id="ContentJumpTarget"></a>
						<h1 id="SourceFromNorthScale">Source from NorthScale</h1>
						<div id="ContentChannel">

              {{ content }}

              <hr/>
							<h3 id='contact'>Contact</h3>

							<p><a href='mailto:feedback@northscale.com'>feedback@northscale.com</a></p>

    <div id="disqus_thread"></div>
    <script type="text/javascript"
            src="http://disqus.com/forums/labsnorthscale/embed.js"></script>
    <noscript>
      <p>
        <a href="http://labsnorthscale.disqus.com/?url=ref">View the
          discussion thread.</a>
      </p>
    </noscript>
    <a href="http://disqus.com"
       class="dsq-brlink">comments powered by
      <span class="logo-disqus">Disqus</span></a>
  </div>

  <script type="text/javascript">
    //<![CDATA[
            (function() {
                var links = document.getElementsByTagName('a');
                var query = '?';
                for(var i = 0; i < links.length; i++) {
                    if(links[i].href.indexOf('#disqus_thread') >= 0) {
                        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
                    }
                }
                document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/labsnorthscale/get_num_replies.js' + query + '"></' + 'script>');
            })();
            //]]>
  </script>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-7763794-3");
    pageTracker._trackPageview();
    } catch(err) {}</script>

						</div><!-- #ContentChannel -->
					</div><!-- #Content -->
				</div><!-- #MainChannel -->
				
			</div><!-- #MainBody -->
			<div id="Footer" class="selfClear">
				<p class="copy">&copy; 2009&nbsp;</p>
				<div class="vcard">
					<p class="copy"><a class="fn org url" href="http://www.northscale.com">NorthScale</a></p>
					 <div class="adr">
						<div class="street-address">148 Castro Street, Suite B5</div>
	  					<span class="locality">Mountain View</span>,
	  					<span class="region">CA</span>
	  					<span class="postal-code">94041</span>
					</div>
					<span class="tel"><span class="type">Work</span>: <span class="value">1.888.399.5509</span></span><br />
					<a class="email" href="mailto:info@northscale.com">info@northscale.com</a><br />
					<a class="url twitter" href="http://twitter.com/northscale">twitter</a><br />
					<p class="note">NorthScale creates innovative applications and services to help web sites scale data usage.</p>
				</div>
				<p class="copy">. All Rights Reserved</p>
			</div><!-- #Footer -->
			
		</div><!-- #WrapperChannel -->
	</div><!-- #Wrapper -->
	<script src="/javascript/jquery-latest.min.js" type="text/javascript"></script>
	<script src="/javascript/jquery.validate.min.js" type="text/javascript"></script>
	<!--[if lte IE 6]>
		<script src="/javascript/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script>
	<![endif]-->
	<script src="/javascript/library.js" type="text/javascript"></script>
</body>
</html>
